body {
  background-color: rgb(244, 235, 222);
  height: fit-content;
}

#root {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 75);
  background-clip: padding-box;
}
